<div ng-controller="vendorController">
    <center> 
        <h3>Click Here to add Products</h3>
    </center>


<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/vendorHome" ng-click="page.gotoVendorHome()">ENHANCED CATELOGUE SYSTEM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                  <a href="/addProduct" class="dropdown-toggle" data-toggle="dropdown" ng-click="page.gotoAddProduct()" role="button" aria-haspopup="true" aria-expanded="false">Add Product <span class="caret"></span></a>
              </li>
               <li class="dropdown">
                  <a href="/editProduct" class="dropdown-toggle" data-toggle="dropdown" ng-click="page.gotoEditProduct()" role="button" aria-haspopup="true" aria-expanded="false">View/EDIT Product <span class="caret"></span></a>
                </li>
                 
                 
            <li><a href="report.htm">Report</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="logout.htm">Logout</a></li>
          </ul>
          
        </div>
      </div>
    </nav>

<div id="form">
    <div class="container">
    <div class="alert alert-success" role="alert" id="successdiv" ng-show="page.showmsg">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="" id="error" ng-bind="page.msg"></span>
	</div>
	<div class="alert alert-danger" role="alert" id="errordiv" ng-show="page.showError">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="" id="error" ng-bind="page.error"></span>
	</div>
        <br>
        <form>
        	<label>Product Name</label>
        	 <input type="text" ng-model="page.register.product.name" class="form-control" placeholder="Product Name" />
       		 <br>
       		 <label>Product Category</label>
            <input type="text" ng-model="page.register.product.category" class="form-control" placeholder="Category" />
       		 <br>
       		  <label>Price</label>
            <input type="number" ng-model="page.register.product.price" class="form-control" placeholder="Price" />
       		 <br>
       		 <label>Stock</label>
            <input type="number" ng-model="page.register.product.stock" class="form-control" placeholder="Stock" />
       		 <br>
       		  <label>Product Specifications</label><br>
       		  <table>
       		  	<tbody>
       		  		<tr>
       		  			<td>Specification Name</td>
       		  			<td>Specification Value</td><td></td>
       		  		</tr>
       		  		<tr class="info" ng-repeat="spec in page.register.product.specifications">
						<td><span align="center">{{spec.specName}}</span></td>
						<td><span align="center">{{spec.specValue}}</span></td>
	                    <td><input type="button" class="btn btn-danger" ng-click="page.register.removeSpec(spec)" value="-Remove"></td>
	                    
                	</tr>
                	<tr class="info" align="center" ng-show="page.register.tempSpecShow">
									<td><input type="text" ng-model="page.register.tempSpec.specName" value="" ></td>
									<td><input type="text" ng-model="page.register.tempSpec.specValue" value="" ></td>                               
                                    <td> <button type="button" class="btn btn-lng btn-success" ng-click="page.register.addSpec()">ADD SPECIFICATION</button></td>								
								
					</tr>
                	<tr>
                	<td></td><td></td>
                	<td>
                		<button type="button" class="btn btn-primary" ng-click="page.register.showTempSpec()">+Add Spec</button>
                	</td>
                	</tr>        
                	
       		  	</tbody>
       		  </table>
       		   <label>Image</label>
			<input ng-model="page.register.product.photo" class="btn btn-default" onchange="angular.element(this).scope().file_changed(this)" type="file" accept="image/*"  />     		 <br>
        </form>
        
       <center><button type="button" ng-click="page.register.addProduct()" class="btn btn-primary">Add Product</button></center><br>
       
        <br>
        

</div>
<br>
</div>
</div>
<br>
<br>
<br>