<div ng-controller="adminController">
    <center>
        <h3>Admin Page</h3>
    </center>


    <div class="alert alert-success" role="alert" id="successdiv" ng-show="page.showmsg">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="" id="error" ng-bind="page.msg"></span>
    </div>
    <div class="alert alert-danger" role="alert" id="errordiv" ng-show="page.showError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="" id="error" ng-bind="page.error"></span>
    </div>


    <table class="table">
        <tbody>
            <tr>
                <td align="center">Vendor Name</td>
                <td align="center">Address</td>
                <td align="center">Email</td>
                <td align="center">Phone</td>
                <td align="center">IsApproved</td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="ven in page.vendors">

                <td align="center">
                    <p ng-bind="ven.username"></p>
                </td>
                <td align="center">
                    <p ng-bind="ven.address"></p>
                </td>
                <td align="center">
                    <p ng-bind="ven.email"></p>
                </td>

                <td align="center">
                    <p ng-bind="ven.phone"></p>
                </td>
                <td align="center">
                    <p ng-bind="ven.isActive"> </p>

                </td>
                <td> <button type="button" ng-click="page.approveUser(ven)" class="btn btn-success btn-lg">Approve </button>
            </tr>
        </tbody>
    </table>

        <h1>Approved Users</h1>
    <table class="table">
        <tbody>
            <tr>
                <td align="center">Vendor Name</td>
                <td align="center">Address</td>
                <td align="center">Email</td>
                <td align="center">Phone</td>
                <td align="center">IsApproved</td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="ven in page.allVendors">

                <td align="center">
                    <p ng-bind="ven.username"></p>
                </td>
                <td align="center">
                    <p ng-bind="ven.address"></p>
                </td>
                <td align="center">
                    <p ng-bind="ven.email"></p>
                </td>

                <td align="center">
                    <p ng-bind="ven.phone"></p>
                </td>
                <td align="center">
                    <p ng-bind="ven.isActive"> </p>
                </td>
                <td>
                    <button ng-click="page.disapproveUser(ven)" class="btn btn-danger">Disapprove</button>
                </td>
            </tr>
        </tbody>
    </table>





    <button type="submit" ng-click="homepage()" class="btn btn-danger">Logout</button>



</div>

<br>
<br>
<br>