<div class="bs-example" ng-controller="registerLoginController">
    <form>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="text" ng-model="page.login.email" class="form-control" id="inputEmail" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" ng-model="page.login.pass" class="form-control" id="inputPassword" placeholder="Password" required>
                </div>
                <button type="submit" ng-click="page.login.confirm()" class="btn btn-primary">Login</button>
                 <a href="#" ><button class="btn btn-primary">Back to Home Page</button>
            </div>
        </div>
    </form>
    </div>
</div>