<div ng-controller="registerLoginController">
    <div ng-show="page.register.showRegForm">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <!--<div class="container">-->
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-user"></i>
                    <input type="text" ng-model="page.register.form.username" name="username" class="form-control" placeholder="Name"/>
                </div><br>

                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <input type="text" ng-model="page.register.form.email" ng-blur="page.register.checkus()" name="email" class="form-control"
                        placeholder="Email" />
                </div><br>

                <div class="inner-addon left-addon">
                    DOB: <input type="text" id="dp1" data-date-format="mm/dd/yyyy" class="form-control" ng-model="page.register.form.dob">
                </div><br>

                <div class="radio">
                    <label><input type="radio" name="gender" ng-model="page.register.form.gender" value="male" checked>Male</label>
                    <label><input type="radio" name="gender" ng-model="page.register.form.gender" value="female" >Female</label>
                    <label><input type="radio" name="gender" ng-model="page.register.form.gender" value="others" >Others</label>
                </div><br>

                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-phone-alt"></i>
                    <input type="text" ng-model="page.register.form.phone" name="phone" class="form-control" placeholder="Phone Number" />
                </div><br>

                <div class="inner-addon left-addon">
                    <label>User Type</label>
                    <select class="form-control" ng-model="page.register.form.userType"><br>
                    <option value="">-select-</option>
                    <option value="user">User</option>
                    <option value="vendor">Vendor</option><br>
            </div><br>

            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-home"></i>
                <input type="text" ng-model="page.register.form.address" name="address" class="form-control" placeholder="Address" />
            </div><br>

            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-lock"></i>
                <input type="password" ng-model="page.register.form.pass" name="pass" class="form-control" placeholder="Password" />
            </div><br>

            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-lock"></i>
                <input type="password" ng-model="cpass" ng-blur="validate()" ng-change="validate()" name="cpass" class="form-control" placeholder="Confirm Password"
                />
            </div><br>

            <button type="button" ng-click="page.register.confirm()" class="btn btn-primary">Register</button>
        <!--</div>-->
    </div>
    <div calss="alert alert-success" role="alert" ng-show="page.register.showRegResult">
        <span calss="glyphicon glyphicon-exclamation-sign" area-hidden="true"></span>
        <p >{{page.register.result}} </p>
    </div>
</div>
</div>
</div>
<script>
    $(function(){
        $('#dp1').datepicker();
    })
    </script>