<div  ng-controller="registerLoginController">
    <div>
        <div class="container">
            <h1>jai 1</h1>
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-user"></i>
                <input type="text" ng-model="page.register.form.username"  name="username" class="form-control"
                    placeholder="Name" />
            </div><br>

            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-envelope"></i>
                <input type="text" ng-model="page.register.form.email" ng-blur="page.register.checkus()" name="email" class="form-control"
                    placeholder="Email" />
            </div><br>

            <div class="inner-addon left-addon">
               DOB: <input type="text" ng-model="page.register.form.dob">
            </div><br>

            <div class="radio">
                <label><input type="radio" name="gender" ng-model="page.register.form.gender" value="male" checked>Male</label><br>
                <label><input type="radio" name="gender" ng-model="page.register.form.gender" value="female" >Female</label><br>
                <label><input type="radio" name="gender" ng-model="page.register.form.gender" value="others" >Others</label><br>
            </div><br>

            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-phone-alt"></i>
                <input type="text" ng-model="page.register.form.phone"  name="phone" class="form-control"
                    placeholder="Phone Number" />
            </div><br>

            <div  class="inner-addon left-addon">
                <label >User Type</label>
                <select class="form-control" ng-model="page.register.form.userType">
                    <option value="">-select-</option>
                    <option value="user">User</option>
                    <option value="vendor">Vendor</option>
            </div>

            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-home"></i>
                <input type="text" ng-model="page.register.form.address" name="address" class="form-control" placeholder="Address" />
            </div><br>

            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-lock"></i>
                <input type="password" ng-model="page.register.form.pass" name="pass" class="form-control" placeholder="Password" />
            </div><br>

            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-lock"></i>
                <input type="password" ng-model="cpass" ng-blur="validate()" ng-change="validate()" name="cpass" class="form-control" placeholder="Confirm Password"
                />
            </div><br>

            <button type="button" ng-click="page.register.confirm()" class="btn btn-primary">Register</button>
        </div>
        <!--Name : <input type="text"  ng-model="page.register.form.username" ng-blur="page.register.checkus('username')" name="username"><br> -->
        <!--EmailId : <input type="text" ng-model="page.register.form.email" ng-blur="page.register.checkus('email')" name="email"><br>-->
        <!--<input type="radio" name="gender" ng-model="page.register.form.male" value="male" checked> Male<br>
        <input type="radio" name="gender" ng-model="page.register.form.female" value="female"> Female<br>
        <input type="radio" name="gender" ng-model="page.register.form.other" value="other"> Other <br> PhoneNumber :
        <input type="text" ng-model="page.register.form.phone" ng-blur="page.register.checkus('phone')" name="phone"><br>        Address : <input type="text" ng-model="page.register.form.address" name="address"><br> Password : <input type="text"
            ng-model="page.register.form.pass" name="pass"><br> 
            Confirm Password : <input type="text" ng-model="cpass" ng-blur="validate()"
            ng-change="validate()" name="cpass"><br>-->

        <!--<button type="button" ng-click="page.register.confirm()" class="btn btn-primary">Register</button>-->
    </div>
    <div >
        <p >{{page.register.result}} </p>
    </div>
</div>