<div ng-controller="userController">

  <div class="container">
    <div ng-table="products" class="row">
      <input type="text" ng-model="filter_name" class="form-control" value="" placeholder="Search using keywords"><br>

      <!--<button class="btn btn-primary" ng-click="filtering()">Category</button>-->

      <select class="form-control select" ng-model="cat">
        <option value=''> - select -</option>
        <option value='phone'> - Phone -</option>
        <option value='tablet'> - Tablet -</option>
        <option value='accessories'> - Accessories -</option>
      </select>
      <br><br>

      <div class="col-sm-4" ng-repeat="prod in page.products | filter:{name:filter_name,category:cat} ">

        <div class="panel panel-warning">
          <img src="../">
          <h4 class="panel-heading" ng-bind="prod.name"></h4>
         <center> <p class="panel-body">
            <h4 ng-bind="prod.category"></h4>
            <h4 ng-bind="prod.price"></h4><span></span>
            <h5>Description</h5>

            <ul>
              <li ng-repeat="spec in prod.specifications">{{spec.specName}} : {{spec.specValue}}</li>
            </ul>
            <a ng-click="prod.showReview=true;">Participate In Review this Product</a>
            <h5>Customer Reviewd This Product {{prod.avg}}</h5><br>
          </p>
          <div ng-show="prod.showReview">
            <h3>Rate/Review this Product</h3>
            <select ng-model="prod.review">
                <option value=0> - select -</option>
                <option value=5> - 5 star Excellent-</option>
                <option value=4> - 4 star Very Good-</option>
                <option value=3> - 3 Good-</option>
                <option value=2> - 2 Average -</option>
                <option value=1> - 1 bad-</option>

              </select>
        
            <button type="button" class="btn btn-success" ng-click="page.submitReview(prod)">Submit Review</button>

          </div>
          <br>
          <button type="button" class="btn btn-warning btn-lg" ng-click="page.buy(prod)">Buy</button></center>

        </div>
      </div>
    </div>
  </div>
</div>