<div class="bs-example" ng-controller="registerLoginController">
    <form>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text" ng-model="page.login.email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" ng-model="page.login.pass" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <button type="submit" ng-click="page.login.confirm()" class="btn btn-primary">Login</button>
    </form>
    <div ng-bind="page.login.errorMessage">

        </div>
</div>
                             		