<div ng-controller="vendorController">
    
Vendor Home page!!

<nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"  >ENHANCED CATELOGUE SYSTEM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left" ng-show="page.showVendorActions">
            <li class="dropdown">
                  <a href="/addProduct" class="dropdown-toggle" data-toggle="dropdown" ng-click="page.gotoAddProduct()" role="button" aria-haspopup="true" aria-expanded="false">Add Product <span class="caret"></span></a>
              </li>
               <li class="dropdown">
                  <a href="/editProduct" class="dropdown-toggle" data-toggle="dropdown" ng-click="page.gotoEditProduct()" role="button" aria-haspopup="true" aria-expanded="false">View/EDIT Product <span class="caret"></span></a>
                </li>
                 
            <li><a href="report.htm">Report</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
    <button type="submit" ng-click="logout()" class="btn btn-danger">Logout</button>
          </ul>
          
        </div>
      </div>
    </nav>
<div ng-show="page.showerror">Stilll not approved!</div>
    
</div>

<br>
<br>
<br>