<div ng-controller="vendorController">
    <center>
        <h2>View and Edit Products</h2>
        <br><br> 
    </center>


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#/vendorHome" ng-click="page.gotoVendorHome()">ENHANCED CATELOGUE SYSTEM</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="/addProduct" class="dropdown-toggle" data-toggle="dropdown" ng-click="page.gotoAddProduct()" role="button" aria-haspopup="true"
                            aria-expanded="false">Add Product <span class="caret"></span></a>
                    </li>
                    <li class="dropdown">
                        <a href="/editProduct" class="dropdown-toggle" data-toggle="dropdown" ng-click="page.gotoEditProduct()" role="button" aria-haspopup="true"
                            aria-expanded="false">View/EDIT Product <span class="caret"></span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="logout.htm">Logout</a></li>
                </ul>

            </div>
        </div>
    </nav>



    <div class="alert alert-success" role="alert" id="successdiv" ng-show="page.showmsg">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="" id="error" ng-bind="page.msg"></span>
    </div>
    <div class="alert alert-danger" role="alert" id="errordiv" ng-show="page.showError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="" id="error" ng-bind="page.error"></span>
    </div>


    <table class="table">
        <tbody>
            <tr>
                <td align="center">Product Name</td>
                <td align="center">Price</td>
                <td align="center">Vendor</td>
                <td align="center">Stock</td>
                <td align="center">Category</td>
                <td align="center">Specifications</td>
            </tr>
            <tr ng-repeat="prod in page.products">
                <td align="center">
                    <p ng-bind="prod.name"></p>
                </td>
                <td align="center">
                    <p ng-bind="prod.price"></p>
                </td>
                <td align="center">
                    <p ng-bind="prod.vendor"></p>
                </td>
                <td align="center">
                    <p ng-bind="prod.stock"></p>
                </td>
                <td align="center">
                    <p ng-bind="prod.category"> </p>

                </td>
                <td>
                    <table class="table">
                        <tbody>

                            <tr ng-repeat="spec in prod.specifications">
                                <td align="center">
                                    <p ng-bind="spec.specName"></p>
                                </td>
                                <td align="center">
                                    <p ng-bind="spec.specValue"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <input type="button" class="btn btn-success" value="Edit" ng-click="edit(prod)" data-target="#editModal">
                    <input type="button" class="btn btn-danger" value="Remove" ng-click="remove(prod)" data-target="#deleteModal">
                </td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <h2><center>Update Your Product Details</center></h2><br><br>
    <table class="table">
        <tr>
            <td style="display:none;">Product Id:<input type="text" ng-model="prodEditId" ng-bind="prodEditId" class="form-control"></td>
            <td >Product Name:<input type="text" ng-model="prodEditName" ng-bind="prodEditName" class="form-control"></td>
            <td>Product Price:<input type="text" ng-model="prodEditPrice" ng-bind="prodEditPrice" class="form-control"></td>
            <td>Product Stock:<input type="text" ng-model="prodEditStock" ng-bind="prodEditStock" class="form-control"></td>
            <td>Product Category:<input type="text" ng-model="prodEditCategory" ng-bind="prodEditCategory" class="form-control"></td>
        </tr>       
    </table>
     <button class="btn btn-primary" ng-click="update(prodEditId)">Update</button>
    



</div>

<br>
<br>
<br>