<div class="row">
    <div class="col-md-4 col-md-offset-5">

        <button class="btn btn-outline btn-primary btn-lg" type="button" ng-click="page.registerPage()">Register</button>
        <button type="button" ng-click="page.loginPage()" class="btn btn-outline btn-primary btn-lg">Login</button>
    </div>
</div>