<html>

<head>
    <script src="../Frontend/css/angular.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
    <input type="text" ng-blur="validate()" ng-model="name">
    </div>
    <script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http) {
    $scope.validate = function() {
        alert("validate");
        $http.post("http://localhost:3000/"+$scope.name)
   .then(
       function(response){
         console("Post function called");
       }, 
       function(response){
         console("Post function failure");
       }
    );
    }
});
</script>
</body>

</html>